<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.max.openconnectnative.helper</string>
  <key>ProgramArguments</key><array>
    <string>/Library/PrivilegedHelperTools/com.max.openconnectnative.runtime/Contents/Resources/OpenConnect/bin/CiscoConnectHelper</string>
  </array>
  <key>MachServices</key><dict>
    <key>com.max.openconnectnative.helper</key><true/>
  </dict>
  <key>ProcessType</key><string>Interactive</string>
</dict></plist>
